@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
body{font-family: 'Noto Serif TC', serif;}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
header h1 {
	color: #625342;
	text-align: center;
	font-size: 80px;
	padding-top: 133px;
}
nav {
	text-align: center;
	font-size: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: -41px;
}
.container2 .left {
	flex: 3;
}
.container2 {
	display: flex;
}



nav a:link  {
	color: #B19779;
	text-decoration: none;
}
.container2 .right {
	flex: 2;
}

nav a:hover {
	color: #785E38;
	text-decoration: underline;
}
article h2 {
	background-color: #EDDCC4;
	border-radius: 5px;
	height: 35px;
	line-height: 32px;
}

header {
	background-image: url(window.jpg);
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 1000px;
}
